@using HallOfBeorn.Models
@using HallOfBeorn.Models.LotR
@using HallOfBeorn.Models.LotR.ViewModels
@model DeckViewModel

@{
    ViewBag.Title = "Decks";
}

@section scripts {
<script type="text/javascript" src="~/Scripts/deckBuilder.js"></script>
<script type="text/javascript" src="~/Scripts/storage.js"></script>
}

<h2>Deck Builder</h2>

@using (Html.BeginForm("Decks", "Cards", FormMethod.Post))
{
    <div id="deckContainer">
        <span class="search-label-short">Name</span>
        <div class="form-group">
            @Html.TextBoxFor(x => x.Name, new { style = "text-align:left;width:200px;margin-right:4px;" })
        </div>

        <div class="tab-container">
            <div class="tab-section">
                <span id="searchTab" class="option-tab selected-tab">Search</span>
                <span id="cardSetTab" class="option-tab">Card Sets</span>
                <span id="settingsTab" class="option-tab">Settings</span>
            </div>
            <div id="searchSection" class="option-section">
                <div class="section-container">
                    @Html.TextBoxFor(x => x.Search, new { style = "text-align:left;width:95%;margin-right:4px;" })
                </div>
            </div>
            <div id="cardSetSection" class="option-section hidden">
                <div class="section-container">Card Sets</div>
            </div>
            <div id="settingsSection" class="option-section hidden">
                <div class="section-container">Settings</div>
            </div>
        </div>

        <label>Heroes</label>
        <div>
            <ul id="heroList" class="type-list"></ul>
        </div>
    
        <div class="info-container">
            <span>Total Cards:</span>&nbsp;<span id="totalCards" />
        </div>


        <label>Allies</label>
        <div>
            <ul id="allyList" class="type-list"></ul>
        </div>
    
        <label>Attachments</label>
        <div>
            <ul id="attachmentList" class="type-list"></ul>
        </div>
    
        <label>Events</label>
        <div>
            <ul id="eventList" class="type-list"></ul>
        </div>
    
        <label>Side Quests</label>
        <div>
            <ul id="sideQuestList" class="type-list"></ul>
        </div>

        <div class="save-section">
            <button id="saveOctgn" class="deck-button">OCTGN</button>
            <button id="saveLocal" class="deck-button">Save</button>
            <button id="loadDeck" class="deck-button">Load</button>

            <label>Share</label>
            <div id="shareLink" />
        </div>
    </div>
}