@using HallOfBeorn.Models;
@model DeckViewModel

@{
    ViewBag.Title = "Decks";
}

@section scripts {
<script type="text/javascript" src="~/Scripts/deckBuilder.js"></script>
}

<h2>Deck Builder</h2>

@using (Html.BeginForm("Decks", "Cards", FormMethod.Post))
{
    <div id="deckContainer">
        <span class="search-label-short">Name</span>
        <div class="form-group">
            @Html.TextBoxFor(x => x.Name, new { style = "text-align:left;width:200px;margin-right:4px;" })
        </div>
    
        <span class="search-label-short">Search</span>
        <div>
            @Html.TextBoxFor(x => x.Search, new { style = "text-align:left;width:95%;margin-right:4px;" })
        </div>
    
        <label>Heroes</label>
        <div>
            <ul id="heroList" class="type-list"></ul>
        </div>
    
    
        <label>Allies</label>
        <div>
            <ul id="allyList" class="type-list"></ul>
        </div>
    
        <label>Attachments</label>
        <div>
            <ul id="attachmentList" class="type-list"></ul>
        </div>
    
        <label>Events</label>
        <div>
            <ul id="eventList" class="type-list"></ul>
        </div>
    
        <label>Side Quests</label>
        <div>
            <ul id="sideQuestList" class="type-list"></ul>
        </div>
    </div>
}